.profile__avatar{
    border-radius: inherit;
    height: 100%;
    margin: 0;
    width: 100%;
    transition: opacity .5s ease-in-out;
    object-fit: cover;
}
.profile__avatar:hover{
    opacity: .2;
}
